* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
}

.testata {
    background-color: aqua;
    height: 20rem;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    

}

.orange {
    background-color: rgb(255, 189, 68);
    height: 2.5rem;
    border: 1px dashed black;
    line-height: 2.5rem;
    margin-top: 1.25rem;


}

.title-1 {
    width: 15%;
    padding-left: 0.3rem;
    
   
}

.title-2 {
    width: 35%;
    text-align: center;
    
}

.title-3 {
    width: 15%;
    text-align: end;
    padding-right: 0.3rem;

  
}

.blue-block {
    background-color: blue;
    width: 100%;
    height: 15rem;
    margin-top: 1.25rem;
    justify-content: center;
    align-items: center;

}

.rose-block {
    background-color: rgb(235, 156, 156);
    width: 50%;
    height: 10rem;
}

.row {
    background-color: white;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

.crystal-block {
    background-color: rgb(135, 167, 228);
    width: 40%;
    height: 15rem;
}

.pink-block {
    background-color: rgb(241, 205, 211);
    height: 15rem;
    width: 25%;


}

